!!!
%html
  %head
    = favicon_link_tag 'rex-profile-thumb.png'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RexEats
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = render 'layouts/navbar'

  %body
    = yield
    = react_component('NewRestaurant')
